/*폰트*/
/* font-family: 'Baloo', sans-serif; */
/* font-family: "Noto Sans KR", sans-serif; */
@font-face {
  font-family: 'Aggravo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

/* 노말라이즈 */
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  min-height: 100vh;
  font-family: "Noto Sans KR", sans-serif;
  position: relative;
}

.section-3 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-3 .sec3con {
  display: flex;
  flex-direction: column;
  max-width: 1492px;
  max-height: 890px;
  gap: 10px;
}

.section-3 .sec3con .category {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  transform: translateX(-20px);
  cursor: pointer;
}

.sec3con .preview-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* 2열 */
  gap: 20px;
  max-width: 1492px;
  margin: 0 auto;
}

.preview-wrap .preview {
  /* 반응형 수정 */
  position: relative;
  width: 735px;
  height: 415px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.preview-wrap .preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  transition: 0.2s;
  filter: blur(2px);
}

.preview .popup-open {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #fff;
  font-size: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  backdrop-filter: blur(4px);
  will-change: transform;
  backface-visibility: hidden;
  transition: 0.3s;
}

.preview .popup-open:hover {
  color: #82BCE3;
  background-color: #fff;
}

.preview:has(.popup-open:hover) img {
  filter: blur(0px);
  transition: 0.2s;
}

/* 배경 라인 컨테이너 */
.line-bg {
  background: #F9F9F9;
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}

.line-bg svg {
  width: 100%;
  height: 100vh;
  display: block;
}

#curvy-line {
  fill: none;
  stroke: #bde5ff;
  stroke-width: 5;
  stroke-linecap: round;
}

@keyframes drawLine {
  0% {
    stroke-dashoffset: var(--path-length);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  70% {
    stroke-dashoffset: 0;
    opacity: 1;
  }

  100% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
}

/* -------- 팝업창 -------- */

/* 뒷배경 */
.popup-overlay {
  position: fixed;
  inset: 0;
  /* top:0; right:0; bottom:0; left:0; */
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease;
  z-index: 10;
}

/* 활성화 시 보이게 */
.popup-overlay.active {
  opacity: 1;
  pointer-events: auto;
}

/* 가운데 뜨는 팝업 박스 */
.popup {
  display: flex;
  position: relative;
  background: #ffffff;
  border-radius: 20px;
  max-width: 1705px;
  max-height: 865px;
  width: 90%;
  height: 90%;
  box-shadow: 0 18px 60px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

/* 닫기 버튼 (X) */
.popup-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #82BCE3;
  font-size: 20px;
  color: #82BCE3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  will-change: transform;
  backface-visibility: hidden;
  transition: 0.3s;
  transform: rotate(45deg);
}

.popup-overlay .popup-close:hover {
  transform: rotate(45deg) scale(1.05);
  background-color: #82BCE3;
  color: #fff;
}

.popup-overlay .popup-site {
  flex: 0 0 60%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
}

.popup-site img {
  display: block;
  width: 100%;
  height: auto;
}

/* 팝업 내부 콘텐츠 스타일 */

.popup-content {
  flex: 0 0 40%;
  height: 100%;
  padding: 30px 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  user-select: none;
}

.popup-content .numbering {
  display: flex;
  align-items: flex-end;
  line-height: 1;
  margin-bottom: 20px;
}

.popup-content .numbering h1 {
  font-family: 'Baloo', sans-serif;
  font-size: 150px;
  color: rgba(130, 188, 227, 0.3);
  margin: 0;
}

.popup-content .numbering h2 {
  font-family: 'Aggravo';
  font-weight: 700;
  font-size: 50px;
  color: #656565;
  margin: 0;
  transform: translate(-105px, -22px);
}

.popup-content p {
  font-size: 18px;
  font-weight: bold;
  color: #656565;
}

.popup-content .text-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 50px;
}

.popup-content .text-box .tool-icon {
  display: flex;
  align-items: center;
}

.popup-content .text-box .label {
  width: 80px;
}

.popup-content .link-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 50px;
  margin-top: 100px;
}

.popup-content .link-box .link {
  display: flex;
  align-items: center;
  justify-items: center;
  border: 3px solid rgba(130, 188, 227, 0.3);
  width: 180px;
  height: 50px;
  border-radius: 30px;
}

.popup-content .link-box .link:hover a {
  color: rgba(130, 188, 227, 1);
  transition: 0.3s ease;
}

.popup-content .link-box .link a {
  font-size: 18px;
  font-weight: bold;
  color: #656565;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
}

